%body
  %h1= @tag.to_s
  %table
    %ul.small-block-grid-2.medium-block-grid-3.large-block-grid-4
      - form_for @people do |f|
        - @people.each do |p|
          %li
            = p.to_s
            %img{:src => "smiley_face.jpg"}/
