<h1><% @tag.to_s %></h1>
<body>
  <table>
    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      <% @people.each do %>
      BOB
      <li><img="smiley_face.jpg"></li>

    <% end %>
    </ul>


  </table>
</body>
