%div.row
  .slick.small-9.small-centered.columns
    - @person.image_paths.reverse.each do |path|
      %img{alt: @person.name, src: path}

  %h1= @person.name
  %p #{@person.relationship_description}
  %p Birthday: #{@person.birthday.to_s(:long)}
  %p Notes: #{@person.notes}
