%br
%div.row
  .small-9.small-centered.columns
    .button.expand.large.person-image-title
      #{@person.to_s_with_relationship}
    .slick
      - @person.image_paths.reverse.each do |path|
        %img{alt: @person.name, src: path}
