%br
%br
- colors = ["primary", "ternary", "secondary", "quaternary"]
- @tags.each.with_index do |tag, i|
  .row.dashboard-tag
    = link_to tag.name.upcase, tag, class: ["dashboard-tag-button", colors[i % 4]]
