%div.row
  %h1= @tag
  %table
    %ul.small-block-grid-2.medium-block-grid-3.large-block-grid-4
      - @people.each do |person|
        %li
          = link_to person do
            %p{class: 'button'}
              = person.to_s
            %img{:src => "#{person.image_path}"}
