%div.row
  %h1= @tag
  %ul.small-block-grid-2.medium-block-grid-3.large-block-grid-4
    - @people.each do |person|
      %li
        = link_to person do
          %img{:src => "#{person.image_path}"}
          %p{class: 'button expand large'}
            = person.to_s
